table{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    font-size: 60px;
}
.name{
    font-weight: bold;
    font-size: 15;
}
 input[type=text]{
    border: 4px solid blue;
    background:grey ;
}
input .tr1[  type=text]{
    border: 2px solid grey ;

}
select{
    border: 3px solid green;
    background:#FF69B4;
}
textarea{
    border: 4px solid #2F4F4F ;
    background:#FFE4B5 ;
}
input[type=submit]{
    border: 4px solid purple;
    background: #00FA9A;
    position:relative;
    left: 190px;

}
